<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
  <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
    <arguments>
      <argument name="collections" xsi:type="array">
        <item name="toptal_blog_listing_data_source" xsi:type="string">Toptal\Blog\Model\ResourceModel\Post\Grid\Collection</item>
      </argument>
    </arguments>
  </type>
  <virtualType name="Toptal\Blog\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
    <arguments>
      <argument name="mainTable" xsi:type="string">toptal_blog_post</argument>
      <argument name="resourceModel" xsi:type="string">Toptal\Blog\Model\ResourceModel\Post</argument>
    </arguments>
  </virtualType>
</config>